.formbox{
	margin: auto;
	max-width: 500px;
	padding: 20px;
}

.otpbox{
	margin: auto;
	max-width: 500px;
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
}

body {
  margin: 0;
  background: #25A3FF;
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: relative;
  color: #fff;
  opacity: 0;
  transition: .8s ease-in-out;
}

#progress {
  position: absolute;
  background: #0069ec;
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******
  Form
 ******/

#register {
  background: #fff;
  position: relative;
  width: 410px;
  padding: 2px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
}

#register.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: .8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0);
}

.next {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #25a3ff;
  float: right;
  cursor: pointer;
}
.next:hover {color: #333}
.wrong .next {color: #ff2d26}
.close .next {color: #fff}

#inputContainer {
  position: relative;
  opacity: 0;
  width: 350px;
  margin-top: 25px;
  transition: opacity .3s ease-in-out;
}

#inputContainer input {
  width: 100%;
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow:none;
}

#inputLabel {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 0 5px;
  transition: .2s ease-in-out;
}

#inputContainer input:valid + #inputLabel {
  top: -15px;
  font-size: 11px;
  font-weight: normal;
  color: #9e9e9e;
}

#inputProgress {
  position: absolute;
  border-bottom: 2px solid #25a3ff;
  padding: 3px 0;
  width: 0;
  transition: width .6s ease-in-out;
}

.wrong #inputProgress {
  border-color: #ff2d26;
}

#progressButton{

}
#wrapper {

  text-align:center;
  /*border:1px solid #7F7F7F;*/
  border-radius: 25px;
  width:300px;
  margin:10px auto;
  padding:10px;
  /*background-color:#E3E4E4;*/
  display: none;
}

#myTimer {
  font:20px Tahoma bold;
  padding:3px;
  display:inline;
}

button {
  width:125px;
  padding:10px;
}

.btnEnable {
  background-color:#25A3FF;
  border:0px solid #97DE4C;
  border-radius: 7px;
  color: white;
  cursor:pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btnDisable {
  background-color:#d3d3d3;
  border:0px solid #DD3939;
  border-radius: 7px;
  color:black;
  /*cursor:wait;*/
    margin-bottom: 10px;
  margin-top: 10px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.0);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  float: right;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
  float: right;
}

.contact{
  float: right;
}

#errorbox{
  font-weight: bold;
  padding-top: 20px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 50px;
  color: red;
  display: none;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}